nav.navbar {
    width: 100%;
    height: 70px;
    background-color: #444;
}

body {
    margin: 0;
    font-family: arial, sans-serif;
    font-size: 16px;
}

.container {
    width: 1200px;
    margin: 0 auto;
    height: 100%;
}

.logo {
    width: 200px;
    float: left;
    height: 100%;
    color: #FFF;
    font-size: 35px;
    padding-top: 13px;
}

.nav-content {
    width: calc(100% - 200px);
    float: left;
    height: 100%;
}

.nav-content ul {
    list-style: none;
    margin: 0;
    padding: 0;
    float: right;
}

.nav-content ul li {
    display: inline-block;
    position: relative;
}

.nav-content ul li a {
    display: block;
    text-decoration: none;
    color: #FFF;
    padding: 0 25px;
    line-height: 70px;
}
.nav-content ul li:hover a {
    background-color: rgb(117, 115, 115);
}
.submenu {
    width: 250px;
    min-height: 100px;
    background-color: #888686;
    position: absolute;
    box-sizing: border-box;
    border-bottom: 30px solid orange;
    top: 100px;
    opacity: 0;
    transition: top .5s, opacity .5s;
    visibility: hidden;
}
.nav-content ul li:hover .submenu{
    top: 100%;
    opacity: 1;
    visibility: visible;
}
.nav-content ul li:hover .submenu a {
    background-color: #888686;
    color: #FFF;
}

.nav-content ul li .submenu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    float: left;
}

.nav-content ul li .submenu ul li {
    display: block;
}

.nav-content ul li .submenu ul li a {
    display: block;
    text-decoration: none;
    color: #FFF;
    padding: 10px 25px;
    line-height: 20px;
}
.nav-content ul li .submenu ul li:hover a{
    background-color: #EEE;
    color: #444;
}
.submenu2 {
    width: 250px;
    height: auto;
    background-color: #888686;
    position: absolute;
    left: 100%;
    top: 0;
    display: none;
    border-top: 2px solid orange;
    border-bottom: 2px solid orange;
    border-right: 2px solid orange;
}
.nav-content ul li .submenu ul li:hover .submenu2{
    display: block;

}
.nav-content ul li .submenu ul li:hover .submenu2 a{
    background-color: #444;
    color: #fff;
}
.nav-content ul li .submenu ul li .submenu2 li:hover a{
    color: #444;
    background-color: #fff;
}